
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 40%;
	margin: 0 auto;
}

body {
	font: normal normal 400;
	font-size: 80%;
	line-height: 1.5em;
	font-family: Verdana,sans-serif;
	margin-top: 1em;
	margin-left: 1em;
	background-color: white;
}

p {
	margin: 0 auto;
	text-align: center;
	width: 65%;
	margin-left: 50;
  margin-right: auto;
}

code {
	font: normal normal;
	font-size: 85%;
	/*line-height: 1em;*/
	font-family: Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	left: -14%;
}


ul {
	position: relative;
	left: 33%;
	width: 65%;
	margin-bottom: 1.5em;
	margin-top: -0.5em;
}

li {
	/*second line indent*/
	padding-left: 1.25em;
	text-indent: -1.25em;
	/*color: #777;*/
}
li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Cousine,Verdana,sans-serif;
	width: 65%;
}

h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	position: relative;
	left: 33%;
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: 1.1em;
	color: #DD7676;
	margin-top: 3em;
	position: relative;
	top: 1.4em;
	text-align: right;
	width: 20%;
}

h3 {
	font-size: 1em;
	line-height: 2em;
	position: relative;
	top: 1.7em;
	text-align: center;
	width: 30%;
	color: black;
}

a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color:#91A0D3
}


em {
	font-weight: bold;
	font-style: italic;
}

strong {
	font-weight: bold;
}
