body{
margin: 0;
padding: 0;
width: 100%;
}
h1 {
font-family:"Roboto";
font-weight:normal;
font-size: 55px;
text-align: center;
color: black;
margin: 0;
padding: 0;
}
h2 {
font-family:"Roboto";
font-weight: normal;
font-size: 40px;
text-align: center;
color: black;
margin: 0;
padding: 0;
}
h3 {
font-family: Roboto;
font-weight: normal;
font-size: 20px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}
p {
  font-family: Roboto;
  font-weight: light;
  font-size: 20px;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
  color:black;
}
wh {
font-family: Roboto;
font-weight: light;
font-size: 20px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
color:white;
}
whs {
font-family: Roboto;
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
color:white;
}
h4 {
font-family:"Roboto";
font-weight: normal;
font-size: 40px;
text-align: center;
color: white;
margin: 0;
padding: 0;
}
h5 {
font-family: Roboto;
font-weight: normal;
font-size: 20px;
text-align: left;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}
.column {
     width:300px;
     padding: 20px;
     float:left;
     font-family: Roboto;
     font-weight: normal;
}
.row {
     width:800px;
     padding: 20px;
     float:left;
     font-family: Roboto;
     font-weight: normal;
}
div.polaroid {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
table {
  /*border: 1px solid white;*/
}
td {
  height: 100px;
  width:500px;
}
a {
  font-family:"Roboto";
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: black;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px dotted #999;
  padding: 0;
}
ul {
  list-style-type: circle;
}
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

#nav { width: 410px; float: right; margin-top: 20px; }
#nav ul{
list-style: none;
display: block;
margin: 0 auto;
list-style: none;
}
#nav li{
margin-top: 9px;
float: left;
padding-left: 21px;
}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Roboto'; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1; }
#slide1, #slide2{ width: 100%; }
#slide1{
background:white;
height: 600px;
margin: 0;
padding: 100px 0 260px;
background-size: cover;
}
#slide2{
background-color: #e3edfc;
height: 600px;
margin: 0 0;
padding: 100px 0;
}
#slide3{
background: black;
height: 700px;
padding: 100px 0 0 0;
background-size: cover;
color:white;
}
